@keyframes error {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      margin-right: -200px;
    }
    40% {
      margin-right: 60px;
    }
    80% {
      margin-right: 10px;
    }
    100% {
      margin-right: 30px;
    }
  }
  
  @keyframes border-bottom {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  