// Colors
$purple: #7467ef;
$purple-register: #7b1fa2;
$white: #fafafa;
$orange: #ff9e43;
$background-menu: #222a45;
$background-register :#e9e9e9;
$text-hint: rgba(52, 49, 76, 0.38);
$text-muted: rgba(52, 49, 76, 0.6);
$text-body: rgba(52, 49, 76, 1);
$error: #e62163;

// Sizes
$small-size: 0.8rem;
$medium-size: 1.2rem;
$big-size: 1.5rem;
