<header>
  <nav class="header-nav">
    <a class="header-title" href="/">My Forum</a>
    <ul>
      <li class="header-link"><a href="/authors">Authors</a></li>
      <li class="header-link"><a href="/authors/new">ADD Authors</a></li>
      <li class="header-link"><a href="/posts">Posts</a></li>
      <li class="header-link"><a href="/posts/new">ADD Post</a></li>
    </ul>
  </nav>
</header>
