<h2 class="page-header">new authors</h2>
<form action="/authors" method="POST">
  <%- include('_form_fields') %>
  <a href="/authors" class="btn btn-danger"> Cancel</a>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
