body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;

  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #7467ef;
  color: #fafafa;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(52, 49, 76, 0.38);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222a45;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
